* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f2f6f9;
}

/* Navbar Start */

.navbar {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  display: block;
  width: 150px;
  height: auto;
  cursor: pointer;
}

.menu {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu li {
  margin: 0 20px;
}

.menu li a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  position: relative;
  transition: all 0.3s ease;
}

.menu li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  height: 2px;
  width: 0;
  background: #0384ec;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.menu li a:hover {
  color: #0384ec;
}

.menu li a:hover::after {
  width: 100%;
}

.search-login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  position: relative;
  height: 40px;
  width: 40px;
}

.search-bar i {
  color: #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.search-bar .input-box {
  position: absolute;
  height: 60px;
  width: 300px;
  background: #0384ec;
  border-radius: 6px;
  top: 110px;
  right: calc(100% - 50px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.navbar.showInput .search-bar .input-box {
  top: 75px;
  opacity: 1;
  pointer-events: auto;
}

.search-bar .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #0384ec;
  top: -6px;
  right: 20px;
  transform: rotate(45deg);
}

.search-bar .input-box input {
  position: absolute;
  height: 35px;
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  z-index: 99;
}

.nav-login {
  list-style: none;
}

.nav-login .btn-login {
  text-decoration: none;
  color: #ffffff;
  background-color: #0384ec;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s ease;
}
/* Navbar End */
